<ActionBar title="Contact Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <StackLayout class="border m-5">
                <Label row="0" col="0" text="Contact information" class="m-10 h2 list-group-item-heading"></Label>

                <Label row="1" col="0" text="121, Clear Water Bay Road" class="m-l-20 m-t-20 list-group-item-text"></Label> 
                <Label row="2" col="0" text="Clear Water Bay, Kowloon" class="m-l-20 list-group-item-text"></Label> 
                <Label row="3" col="0" text="HONG KONG" class="m-l-20 list-group-item-text"></Label> 
                <Label row="4" col="0" text="Tel: +852 1234 5678" class="m-l-20 list-group-item-text"></Label> 
                <Label row="5" col="0" text="Fax: +852 8765 4321" class="m-l-20 list-group-item-text"></Label> 
                <Label row="6" col="0" text="Email:confusion@food.net" class="m-l-20 list-group-item-text"></Label> 
        </StackLayout>
    </StackLayout>
</RadSideDrawer>